#stockListHeading {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 20px;
  padding: 10px;
  color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
}

#stockListHeading li {
  list-style-type: none;
  width: 100%;
  text-align: center;
}

#stockList {
  margin-top: 10px;
  width: 90%;
}

#stockList ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  padding: 10px;
  color: whitesmoke;
  background: #141417;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 600;
}

#stockList ul li {
  list-style-type: none;
  width: 100%;
  text-align: center;
}

.gain {
  background: #31ff80;
  color: black;
  border-radius: 20px;
}

.loss {
  background: #ff3131;
  color: whitesmoke;
  border-radius: 20px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  #stockListHeading,
  #stockList ul {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  #stockListHeading,
  #stockList ul {
    align-items: center;
  }

  #stockListHeading,
  #stockList ul li {
    width: 100%;
    margin-bottom: 10px;
  }

  .gain,
  .loss {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  #stockListHeading,
  #stockList ul {
    padding: 5px;
    font-size: 0.9rem;
  }

  .gain,
  .loss {
    font-size: 0.9rem;
  }
}
