.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;;
}

.container #signUPContainer{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgb(77, 255, 222);
}


#signUPContainer #logoimage{
   height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}