.AnalyticsCardTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;

  p {
    text-decoration: underline;
  }
}

.point {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

#AnalyticsPoint {
  background-color: #b507ff;
}

.graphContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  p {
    margin-top: 40px;
    span {
      font-size: 1.5rem;
      font-family: "Qrbitron", sans-serif;
      font-weight: bold;
    }
  }
}
