.AnalyticsCardTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.AnalyticsCardTitle p {
  text-decoration: underline;
}

.point {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

#earningsPoint {
  background-color: #00ffea;
}

h1 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#withdrawButton {
  background-color: inherit;
  color: whitesmoke;
  border: 3px solid #00ffea;
  border-radius: 30px;
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#withdrawButton:hover {
  background-color: #00ffea;
  color: #2f2f30;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .AnalyticsCardTitle {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  #withdrawButton {
    padding: 4px;
  }
}

@media (max-width: 768px) {
  .AnalyticsCardTitle {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .point {
    height: 18px;
    width: 18px;
  }

  h1 {
    font-size: 1.3rem;
    margin-bottom: 8px;
  }

  #withdrawButton {
    padding: 3px;
    border-width: 2px;
  }
}

@media (max-width: 480px) {
  .AnalyticsCardTitle {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .point {
    height: 15px;
    width: 15px;
  }

  h1 {
    font-size: 1.1rem;
  }

  #withdrawButton {
    padding: 2px;
    border-width: 2px;
  }
}
