#logoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#logoutHeading {
  color: white;
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 15px;
}

#logOutPara {
  font-family: sans-serif;
  font-size: 1.2rem;
}

#buttonContainer {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  height: 200px;
}

.logoutBtn {
  font-size: 1.4rem;
  background-color: inherit;
  color: white;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  padding: 10px;
  border-radius: 10px;
  transition: 0.8s ease-in-out;
  cursor: pointer;
  margin: 0 5px;
}

#success {
  border: 1px solid red;
}

#success:hover {
  background-color: red;
}

#reject {
  border: 1px solid greenyellow;
}

#reject:hover {
  background-color: greenyellow;
}

/* Tablet Screens */
@media (max-width: 768px) {
  #logoutContainer {
    margin-top: 30px;
  }

  #logoutHeading {
    font-size: 1.3rem;
  }

  #buttonContainer {
    width: 70%;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
  }

  .logoutBtn {
    font-size: 1.1rem;
    width: 100%;
    padding: 8px;
  }

  #logOutPara {
    font-size: 1.1rem;
    width: 90%;
  }
}

/* Mobile Screens */
@media (max-width: 480px) {
  #logoutContainer {
    margin-top: 50px;
  }

  #logoutHeading {
    font-size: 1rem;
  }

  #buttonContainer {
    width: 90%;
    height: 100px;
  }

  .logoutBtn {
    font-size: 1rem;
    width: 90%;
    padding: 6px;
  }

  #logOutPara {
    font-size: 1rem;
    width: 80%;
  }
}
