#UserStocksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#stockListHeading {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 20px;
  padding: 10px;
  color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
}

#stockListHeading li {
  list-style-type: none;
  width: 100%;
  text-align: center;
}

#stockList {
  margin-top: 10px;
  width: 90%;
}

#stockList ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  padding: 10px;
  color: whitesmoke;
  background: #141417;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 600;
}

#stockList ul li {
  list-style-type: none;
  width: 100%;
  text-align: center;
}

.gain {
  color: #31ff80;
}

.loss {
  color: #ff3131;
}

.sellButton {
  width: 100%;
  background: #cb3030;
  color: whitesmoke;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
}

/* Responsive Styles */

/* Tablet and Small Screens */
@media (max-width: 768px) {
  #stockListHeading {
    padding: 5px;
    font-size: 1.1rem;
  }

  #stockListHeading li {
    width: 100%;
  }

  #stockList ul {
    font-size: 1rem;
  }

  #stockList ul li {
    width: 100%;
    padding: 5px;
  }

  .sellButton {
    padding: 8px;
    margin: 10px;
  }
}

/* Small Mobile Screens */
@media (max-width: 480px) {
  #stockListHeading {
    font-size: 0.8rem;
    padding: 5px;
  }

  #stockList ul {
    font-size: 0.9rem;
    padding: 8px;
  }

  .sellButton {
    font-size: 0.9rem;
    padding: 6px;
  }
}
