#contactComponent {
  padding: 10px 20px;
}

/* Heading Styling */
#contactHeading {
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 2rem;
  font-family: "Orbitron", sans-serif;
  color: palegreen;
  border-bottom: 1px solid;
}

/* Developer Section */
#aboutDeveloperContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#aboutDeveloper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  text-align: center;
  background-color: #1f1f1f;
  border-radius: 15px;
  padding: 10px;
  width: 80%;
}

/* Developer Image */
#developerImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#developerImageContainer img {
  width: 250px;
  margin-bottom: 20px;
  border-radius: 20px;
}

/* Developer Info */
#developerInfo p {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  margin-top: 0px;
  border-radius: 10px;
  padding: 20px;
}

/* Tech Stack */
#techStackContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#techStack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
  text-align: center;
  width: 80%;
}

#techStackItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  background-color: #1f1f1f;
  color: white;
}

#techStackItem i {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

#techStackItem p {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Contact Info */
#contactInfoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding-top: 20px;
}

#contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contactInfoItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

#contactInfoItem i {
  font-size: 1.8rem;
  margin-right: 20px;
}

#contactInfoItem p {
  font-size: 1.2rem;
  font-weight: 500;
}

#contactInfoItem a {
  color: palegreen;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

#contactInfoItem a:hover {
  color: white;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: whitesmoke;
  padding: 5px;
  width: 70%;
}

.form input,
textarea {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #333;
  color: white;
}

.form label {
  font-weight: bold;
  margin: 10px;
  color: whitesmoke;
}

.form button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: palegreen;
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

/* Love Message */
#loveMessage {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 5rem;
  margin-bottom: 10px;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  #aboutDeveloper {
    width: 90%;
  }
  .form {
    width: 80%;
  }
}

@media (max-width: 768px) {
  #contactHeading {
    font-size: 1.7rem;
  }

  #aboutDeveloper {
    grid-template-columns: 1fr;
    width: 100%;
  }

  #developerImageContainer img {
    width: 200px;
  }

  #techStack {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  #contactInfoContainer {
    grid-template-columns: 1fr;
  }

  .form {
    width: 90%;
  }
}

@media (max-width: 480px) {
  #contactHeading {
    font-size: 1.4rem;
  }

  #developerImageContainer img {
    width: 150px;
  }

  #developerInfo p {
    font-size: 1rem;
  }

  #techStackItem i {
    font-size: 1.5rem;
  }

  #techStackItem p {
    font-size: 1rem;
  }

  #contactInfoItem i {
    font-size: 1.5rem;
  }

  #contactInfoItem p {
    font-size: 1rem;
  }

  .form input,
  textarea {
    padding: 8px;
  }

  .form button {
    padding: 8px;
  }

  .form {
    width: 95%;
  }
}
