.Container {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-template-rows: 1.1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  color: white;
}

.AnalyticsCard {
  background: #141417;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}

#EarningsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#StocksStatsCardContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

#top3PerformingStocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .Container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@media (max-width: 768px) {
  .Container {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .AnalyticsCard {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .Container {
    padding: 10px;
    grid-gap: 10px;
  }

  .AnalyticsCard {
    padding: 10px;
    box-shadow: none;
  }

  #StocksStatsCardContainer {
    grid-template-columns: 1fr;
  }

  #top3PerformingStocks {
    flex-direction: column;
    padding: 10px;
  }
}
