.Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#AnalyticsContainer {
  display: grid;
  grid-template-columns: 1.2fr 6fr;
  grid-gap: 20px;
  flex-grow: 1;
}

.blur {
  filter: blur(10px);
}
